.draw-panel {
  height: 100%;
  padding: 2rem;
}

/* CANVAS */

.canvas-draw {
  border: 1px solid #736f72;
  margin: 1.5rem 1rem;
}

/* DRAWING ACTIONS (ie undo, download)*/

.img-utils {
  display: flex;
  justify-content: space-between;
}

.share-url {
  margin-top: 1rem;
  text-align: center;
}

.brush-tools {
  display: grid;
  width: 80%;
  display: grid;
  margin: auto auto;
  padding: 0 2rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "a c" "b c";
}

.brush-tools>label {
  width: 100%;
  grid-area: a;
  place-self: center stretch;
  text-align: center;
}

/* CONTAINER FOR BUTTON + SWATCHES */

.palette-generator {
  grid-area: c;
  width: 9rem;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

/* CONTAINER FOR ALL SWATCHES*/

.palette-swatches {
  margin: 0 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  /* px for consistency with swatches */
  max-height: 200px;
}

.palette-swatch {
  width: 30px;
  flex: 1 1 30px;
  margin: 4px;
  border: 0.2px solid rgb(29, 27, 27);
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
}