@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: gray;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.login-items {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.user-icon {
  border-radius: 50%;
  height: 5rem;
}

.loading {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
}

.draw-panel {
  border: 1px solid blue;
  height: 100%;
  padding: 2rem;
}

.canvas-draw {
  border: 1px solid rgb(48, 48, 53);
  margin: 2rem 0;
}

.brush-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.img-utils {
  display: flex;
  justify-content: space-between;
}