.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.navbar {
  background-color: gray;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page {
  width: 90%;
  height: 80%;
}