@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Open+Sans:wght@300;400;600&display=swap');
body {
  background-color: #e9e7eb;
  background-image: url("./assets/beige-paper.png") repeat;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

h1 {
  font-size: 3rem;
  font-family: 'Coming Soon';
  margin: -1rem 0;
}

.login-items {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.user-icon {
  border-radius: 50%;
  height: 5rem;
}

.loading {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
}

/* CONTAINER FOR ALL DRAWING-RELATED ITEMS */

.draw-panel {
  height: 100%;
  padding: 2rem;
}

/* CANVAS */

.canvas-draw {
  border: 1px solid rgb(48, 48, 53);
  margin: 2rem 0;
}

/* DRAWING ACTIONS (ie undo, download)*/

.img-utils {
  display: flex;
  justify-content: space-between;
}

.brush-tools {
  justify-content: center;
  display: grid;
  height: 50%;
  width: 80%;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  gap: 1rem;
}

/* CONTAINER FOR BUTTON + SWATCHES */

.palette-generator {
  width: 6rem;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

/* CONTAINER FOR ALL SWATCHES*/

.palette-swatches {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.palette-swatch {
  width: 24px;
  height: 24px;
  margin: 4px;
  border: 0.2px solid rgb(29, 27, 27);
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}